# Python
__pycache__/
*.pyc

# venv
.venv/
env/
venv/

# VS Code
.vscode/

# Data
data/monitoring/
data/processed/
data/raw/

# Secrets
.env

# CatBoost
notebooks/catboost_info

# MkDocs
site/
docs/.DS_Store
