# Python
__pycache__/
*.pyc

# venv
.venv/
env/
venv/

# VS Code
.vscode/

# Data
data/monitoring/
data/processed/
data/raw/

# Secrets
.env

# CatBoost
notebooks/catboost_info

# MkDocs
site/

# Python package metadata
src/aml.egg-info/dependency_links.txt
src/aml.egg-info/PKG-INFO
src/aml.egg-info/SOURCES.txt
src/aml.egg-info/top_level.txt

# Mac
docs/.DS_Store
.DS_Store
logs/feature_pipeline.log
notebooks/artifacts/best_params.json
notebooks/artifacts/features.json
notebooks/artifacts/meta_model.pkl
notebooks/artifacts/model_cat.cbm
notebooks/artifacts/model_lgb.pkl
notebooks/artifacts/model_xgb.json
notebooks/artifacts/study_cat.pkl
notebooks/artifacts/study_ligh.pkl
notebooks/artifacts/study_xg.pkl
notebooks/artifacts/threshold.json
notebooks/artifacts/training_config.json
