# Python
__pycache__/
*.pyc

# venv
.venv/
env/
venv/

# VS Code
.vscode/

# Data
data/monitoring/
data/processed/
data/raw/

# Secrets
.env

# CatBoost
notebooks/catboost_info

# MkDocs
site/

# Python package metadata
src/aml.egg-info/dependency_links.txt
src/aml.egg-info/PKG-INFO
src/aml.egg-info/SOURCES.txt
src/aml.egg-info/top_level.txt

# Mac
docs/.DS_Store
.DS_Store
logs/feature_pipeline.log
