numpy==2.2.6
pandas==2.3.1
scikit-learn==1.7.1
xgboost==3.0.3
lightgbm==4.6.0
jupyter
matplotlib==3.10.5
seaborn==0.13.2
fastapi
uvicorn
mlflow
evidently
kafka-python
confluent-kafka
category_encoders
sklearn==1.7.1
dotenv
os
re
datatime
ast